.home {
    flex: 6;
    width: 10em;
}
.home-uploadbtn {
    position: sticky;
    padding: 7px 40px;
    background: #0062cc;
  	color: #ffffff !important;
    border-radius: 10px;
    /* font-weight: bold; */
    font-size: 20px;
    border: 3px solid #0062cc;
    box-shadow: rgba(0, 0, 0, 1.15) 1.95px 1.95px 2.6px;
    transition: all 0.3s ease 0s;
}

.home-uploadbtn:hover {
    background-color: #0062cc;
    color: rgb(255, 255, 255);
}

.btn-icon {
    font-size: 20px !important;

}
.home-excel {
    height: 500px;

    overflow: scroll;
    width: 100%;
    z-index: -1;
}
.table th, td {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    height: 100%;
}

.table tbody tr:nth-of-type(even) {
    background-color: #0062cc;
    color: #ffffff;
    text-align: left;

}

.home-blank {
    text-align: center;
}

.home-wrapper {
    width: 100%;

}

.home-btndiv {
    margin: auto;
    width: 15%;
}

.home-analyzebtn {
    border: 2px solid #0062cc;
	font-weight: 100;
	padding: 20px;
	text-transform: uppercase;
	border-radius: 6px;
	transition: all 0.3s ease 0s;
	letter-spacing: 3px;
    cursor: pointer;
	color: #0062cc !important;
	background: none;


}

.home-analyzebtn:hover {
	background: #0062cc;
	color: #ffffff !important;
	font-weight: 700 !important;
	letter-spacing: 3px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
}
.react-file-reader {
    float: right;
}
.float-left {
    float: left;
}
